.menuContainer{
    height: 15vh;
    width: 10vh;
    margin-left:20px;
    margin-bottom:25px;
    text-align: center;

}

.menuLink{
    text-transform: capitalize;
    font-size: 2rem;
    color:azure;
}


