.menuContainer{
    height: 15vh;
    width: 10vh;
    margin-left:20px;
    margin-bottom:25px;
    text-align: center;

}

.menuLink{
    text-transform: capitalize;
    font-size: 2rem;
    color:azure;
}

.feebox{
    padding-top: 20px;
}

.rec_title{
    padding-top:40px;
    padding-bottom:20px;
}











